{% extends 'index.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Signal Sets {% endblock %} 

{% block content %}

<div class="row">
    <div class="col-2">
        <form method="GET" id="filterSignalSetsForm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location Search: <span class="badge rounded-pill badge-primary">Coming soon</span></h5>
                    <div class="input-group">
                        <select id="location_search" name="location_search" class="form-select" multiple="multiple"></select>
                    </div>
                    <h5 class="card-title">Filters</h5>
                    <div class="accordion accordion-flush" id="accordionSignalSetFilters">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.pathogens.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.pathogens.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.pathogens.auto_id }}">
                                    Pathogens/Syndromes
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Pathogen, syndrome, or disease area for which the signal set applies."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.pathogens.auto_id }}"
                                class="accordion-collapse {% if form.pathogens.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.pathogens.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.pathogens|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.geographic_scope.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.geographic_scope.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.geographic_scope.auto_id }}">
                                    Geographic Scope
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Country for which signal set is available."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.geographic_scope.auto_id }}"
                                class="accordion-collapse {% if form.geographic_scope.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.geographic_scope.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.geographic_scope|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.available_geographies.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.available_geographies.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.available_geographies.auto_id }}">
                                    Geographic Granularity
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Spatial resolution of the signal set (e.g., county, hospital referral region, metropolitan statistical area, designated market area, state)."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.available_geographies.auto_id }}"
                                class="accordion-collapse {% if form.available_geographies.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.available_geographies.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.available_geographies|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.temporal_granularity.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.temporal_granularity.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.temporal_granularity.auto_id }}">
                                    Temporal Granularity
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Units of time available for a given signal set, e.g., day and week."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.temporal_granularity.auto_id }}"
                                class="accordion-collapse {% if form.temporal_granularity.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.temporal_granularity.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    {{ form.temporal_granularity|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.severity_pyramid_rungs.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}">
                                    Severity Pyramid
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="One or more rungs to which this signal set best relates. See https://delphi.cmu.edu/epidemic-signals/."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}"
                                class="accordion-collapse {% if form.severity_pyramid_rungs.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.severity_pyramid_rungs.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.severity_pyramid_rungs|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.data_source.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.data_source.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.data_source.auto_id }}">
                                    Data Source
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="The owner or supplier of the raw data."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.data_source.auto_id }}"
                                class="accordion-collapse {% if form.data_source.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.data_source.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.data_source|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="input-group margin-top-1rem">
                            {{ form.temporal_scope_end|as_crispy_field }}
                        </div>
                    </div> 
                    <div class="card-body">
                        <div class="d-grid gap-2 mt-3">
                            <button id="filter-submit" type="submit" class="btn btn-primary">{% trans 'Apply Filters' %}</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-10">
        <div class="row table-responsive">
            <table id="signalSetsTable" class="display cell-border" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th> <!--# TODO: add tooltip on hover with description here -->
                        <th>Pathogen(s) <br> Syndrome(s)</th>
                        <th>Geographic Scope</th>
                        <th>Geographic Granularity</th>
                        <th>Temporal scope Start</th>
                        <th>Temporal Scope End</th>
                        <th>Temporal Granularity</th>
                        <th>Reporting Cadence</th>
                        <th>Reporting Lag(nominal)</th>
                        <th>Revision Cadence</th>
                        <th>Demographic scope</th>
                        <th>Demographic Granularity</th>                              
                        <th>Severity Pyramid Rung(s)</th>
                        <th>Data Source</th>
                        <th class="min-w-300">Pre-processing</th>
                        <th>Censoring</th>
                        <th class="min-w-300">Missingness</th>
                        <th>DUA required</th>
                        <th>License</th>
                        <th>Documentation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for signal_set in signal_sets %}
                    <tr data-id="{{ signal_set.id }}">
                        <td class="dt-control"></td>
                        <td>
                            <a data-mdb-tooltip-init title="{{ signal_set.description }}">{{ signal_set.name }}</a>
                        </td>
                        <td>
                            {% for pathogen in signal_set.pathogens.all %}
                            <span class="badge rounded-pill bg-dark">
                                {{ pathogen }}
                            </span>
                            {% endfor %}
                        </td>
                        <td>
                            {{ signal_set.geographic_scope }}
                        </td>
                        <td >
                            {{ signal_set.geographic_granularity }}
                        </td>
                        <td >
                            {{ signal_set.temporal_scope_start }}
                        </td>
                        <td >
                            {{ signal_set.temporal_scope_end }}
                        </td>
                        <td >
                            {{ signal_set.temporal_granularity }}
                        </td>
                        <td>
                            {{ signal_set.reporting_cadence }}
                        </td>
                        <td>
                            {{ signal_set.reporting_lag }}
                        </td>
                        <td>
                            {{ signal_set.revision_cadence }}
                        </td>
                        <td>
                            {{ signal_set.demographic_scope }}
                        </td>
                        <td>
                            {{ signal_set.demographic_granularity }}
                        </td>
                        <td >
                            {% for severity_pyramid_rung in signal_set.severity_pyramid_rungs.all %}
                            <span class="badge rounded-pill bg-dark">
                                {{ severity_pyramid_rung }}
                            </span>
                            {% endfor %}
                        </td>
                        <td >
                            {{ signal_set.data_source }}
                        </td>
                        <td>
                            {{ signal_set.preprocessing_description }}
                        </td>
                        <td>
                            {{ signal_set.censoring }}
                        </td>
                        <td>
                            {{ signal_set.missingness }}
                        </td>
                        <td>
                            {{ signal_set.dua_required }}
                        </td>
                        <td>
                            {{ signal_set.license }}
                        </td>
                        <td>
                            <a href="{{ signal_set.link_to_documentation }}" target="_blank" >{{ signal_set.link_to_documentation }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    </div>
</div>

<script src="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/cr-2.0.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sp-2.3.3/sl-2.1.0/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js),datatables.mark.js"></script>
<script>

    $(document).ready(function () {
        var data = [];
        {% for geography in available_geographies %}
            {% for unit in geography.geography_units.all %}
                data.push({'id': '{{ unit.geo_id }}', 'text': '{{ unit.display_name }}'});
            {% endfor %}
        {% endfor %}
        
        $('#location_search').select2({
            data: data,
            minimumInputLength: 0,
            maximumSelectionLength: 5,
        });

        table.columns.adjust()

        
    })
    function showAllOptions(event, parentDiv) {
        event.preventDefault();
        var childDivs = parentDiv.querySelectorAll('.form-check');
        for (i = 5; i < childDivs.length; i++) {
            if (childDivs[i].style.display === 'none') {
                childDivs[i].style.display = 'block';
            } else {
                childDivs[i].style.display = 'none';
            }
        }
        if (event.target.innerText === 'Show more...') {
            event.target.innerText = 'Show less...';
        } else {
            event.target.innerText = 'Show more...';
        }
    }



    let checkedSignalMembers = []

        // Function to update the modal content
    function updateSelectedSignals(dataSource, signal, signalSet) {
        var selectedSignalsList = document.getElementById('selectedSignalsList');

        var tr = document.createElement('tr');
        tr.setAttribute('id', `${dataSource}_${signal}`);
        var signalSetName = document.createElement('td');
        signalSetName.textContent = signalSet;
        tr.appendChild(signalSetName);
        var signalName = document.createElement('td');
        signalName.textContent = signal;
        tr.appendChild(signalName);
        selectedSignalsList.appendChild(tr);
    }

    function addSelectedSignal(element) {
        if (element.checked) {
            checkedSignalMembers.push({
                _endpoint: element.dataset.endpoint,
                data_source: element.dataset.datasource,
                signal: element.dataset.signal,
                time_type: element.dataset.timetype,
            });
            updateSelectedSignals(element.dataset.datasource, element.dataset.signal, element.dataset.signalSet);
        } else {
            checkedSignalMembers = checkedSignalMembers.filter(signal => signal.signal !== element.dataset.signal);
            document.getElementById(`${element.dataset.datasource}_${element.dataset.signal}`).remove();
        }


        if (checkedSignalMembers.length > 0) {
            $("#showSelectedSignalsButton").show();
        } else {
            $("#showSelectedSignalsButton").hide();
        }
    }

    function plotData(epivisUrl) {
        var dataSets = {};

        var geographicType = document.getElementById('geographic_type').value;
        var geographicValues = $('#geographic_value').select2('data').map((el) => (typeof el.id === 'string') ? el.id.toLowerCase() : el.id);
        if (geographicType === 'Choose...' || geographicValues.length === 0) {
            showWarningAlert("Geographic Type or Geographic Value is not selected.");
            return;
        }

        checkedSignalMembers.forEach((signal) => {
            geographicValues.forEach((geoValue) => {
                dataSets[`${signal["signal"]}_${geoValue}`] = {
                    color: '#'+(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0'),
                    title: "value",
                    params: {
                        _endpoint: signal["_endpoint"],
                        data_source: signal["data_source"],
                        signal: signal["signal"],
                        time_type: signal["time_type"],
                        geo_type: geographicType,
                        geo_value: geoValue
                    }
                }
            })
            
        });
        
        var requestParams = [];
        for (var key in dataSets) {
            requestParams.push(dataSets[key]);
        }

        var urlParamsEncoded = btoa(`{"datasets":${JSON.stringify(requestParams)}}`);
        
        var linkToEpivis = `${epivisUrl}#${urlParamsEncoded}`
        window.open(linkToEpivis, '_blank').focus();
    }

    



    // Add an event listener to each 'bulk-select' element
    let bulkSelectDivs = document.querySelectorAll('.bulk-select');
    bulkSelectDivs.forEach(div => {
        div.addEventListener('click', function(event) {
            let form = this.nextElementSibling;
            let showMoreLink = form.querySelector('a');
            let checkboxes = form.querySelectorAll('input[type="checkbox"]');

            if (event.target.checked === true) {
                checkboxes.forEach((checkbox, index) => {
                    checkbox.checked = true;
                    if (index > 4) {
                        checkbox.parentElement.style.display = checkbox.parentElement.style.display === 'none' ? 'block' : null;
                    }
                })
                if (showMoreLink) {
                    showMoreLink.innerText = 'Show less...';
                }
            } else if (event.target.checked === false) {
                checkboxes.forEach((checkbox, index) => {
                    checkbox.checked = false
                    if (index > 4) {
                        checkbox.parentElement.style.display = checkbox.parentElement.style.display === 'block' ? 'none' : null;
                    }
                });
                if (showMoreLink) {
                    showMoreLink.innerText = 'Show more...';
                }
            }
        });
    });

    var relatedSignals = JSON.parse(JSON.stringify({{ related_signals|safe }}));

    var table = new DataTable('#signalSetsTable', {
        fixedHeader: true,
        paging: false,
        scrollCollapse: true,
        scrollX: true,
        scrollY: 550,
        fixedColumns: {
            left: 2
        },
        ordering: false,
        mark: true,
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'colvis',
                        columns: 'th:nth-child(n+3)'
                    }
                ]
            }
        },
        language: {
            "info":           "Showing _TOTAL_ / _MAX_ Signal Sets",
            "infoEmpty":      "",
            "infoFiltered":   "",
        },
    });


    function format (signalSetId) {
        var signals = relatedSignals.filter((signal) => signal.signal_set === signalSetId)

        if (signals.length > 0) {
            var tableMarkup = '<table class="table" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                        '<thead>'+
                            '<th></th>'+
                            '<th>Signal Name</th>'+
                            '<th>Signal Description</th>'+
                            '<th></th>'+
                        '</thead>'+
                        '<tbody>'
            signals.forEach((signal) => {
                checked = checkedSignalMembers.filter((obj) => obj.data_source == signal.source && obj.signal == signal.name).length;
                checked = checked ? "checked" : ""
                tableMarkup += '<tr>'+
                                    `<td><input type="checkbox" name="selectedSignal" onclick="addSelectedSignal(this)" data-signal-displayname="${signal.display_name}" data-endpoint="${signal.endpoint}" data-datasource="${signal.source}" data-signal="${signal.name}" data-time-type="${signal.time_type}" data-signal-set="${signal.signal_set_name}" ${checked}></td>`+
                                    `<td>${signal.display_name}</td>`+
                                    `<td>${signal.description}</td>`+
                                    '<td style="width: 60%"></td>'+
                                '</tr>'
            }) 
            tableMarkup += '</tbody></table>'
        } else {
            tableMarkup = "<p>No available signals yet.</p>"
        }
        return tableMarkup;
    }

    // Add event listener for opening and closing details
    $('#signalSetsTable tbody').on('click', 'td.dt-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
    
        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
        }
        else {
            // Open this row
            row.child(format(tr.data('id'))).show();
        }
        
    });


    // Add event listener for filtering. 
    window.addEventListener('beforeunload', () => {
        document.getElementById('filterSignalSetsForm').reset();
    });

    
</script>
{% endblock %}
