{% extends 'index.html' %}
{% load i18n %}

{% block title %} {{ signalset.name }} {% endblock %}


{% block content %}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ signalset.name }}
                        <span class="badge rounded-pill text-bg-primary">{{ signalset.data_source }}</span>
                    </h5>
                    <hr class="no-margin" />
                    <div class="row">
                        <div class="col-9">
                            <p class="margin-top-1rem margin-bottom-0 overview" id="overview">
                                {{ signalset.description|safe|truncatechars:300 }}
                            </p>
                            <p class="margin-top-1rem margin-bottom-0 full-text" id="full-text">
                                {{ signalset.description|safe }}
                            </p>
                            {% if signalset.description|length > 300 %}
                            <a href="#" onclick="readMore(this);">Read more <i class="bi bi-arrow-bar-down"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-3 border-left">
                            <p class="margin-top-1rem margin-bottom-0">
                                Maintainer:
                            </p>
                            <h5>{{ signalset.maintainer_name }} <br> ({{ signalset.maintainer_email }})</h5>
                            <p class="margin-bottom-0">Data Provided By:</p>
                            <h5>{{ signalset.data_source }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <tbody>
                                {% if signalset.origin_datasource != 'n/a' %}
                                <tr>
                                    <th scope="row">Source dataset from which data was derived (for aggregates or processed data) </th>
                                    <td>{{ signalset.origin_datasource }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Disease(s)/Pathogen(s)/Syndrome(s)</th>
                                    <td>
                                        <ul class="no-padding">
                                            {% for pathogen in signalset.pathogens.all %}
                                            <a href="{% url 'signal_sets' %}?pathogens={{ pathogen.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ pathogen|title }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Geographic Scope*</th>
                                    <td>{{ signalset.geographic_scope }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Geographic Granularity - Delphi</th>
                                    <td>
                                        <ul class="no-padding">
                                            {% for geography in signalset.available_geographies.all %}
                                            <a href="{% url 'signal_sets' %}?available_geography={{ geography.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ geography }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Geographic Granularity*</th>
                                    <td>{{ signalset.geographic_granularity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Description of pre-processing (if any)</th>
                                    <td>{{ signalset.preprocessing_description }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal scope start</th>
                                    <td>{{ signalset.temporal_scope_start }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal scope end</th>
                                    <td>{{ signalset.temporal_scope_end }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal Granularity</th>
                                    <td>{{ signalset.temporal_granularity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reporting Cadence</th>
                                    <td>{{ signalset.reporting_cadence }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reporting Lag (nominal)</th>
                                    <td>{{ signalset.reporting_lag }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Revision Cadence</th>
                                    <td>{{ signalset.revision_cadence }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Demographic Scope*</th>
                                    <td>{{ signalset.demographic_scope }}</td>
                                </tr>
                                {% if signalset.demographic_granularity %}
                                <tr>
                                    <th scope="row">Demographic Granularity*</th>
                                    <td>{{ signalset.demographic_granularity }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Severity Pyramid Rung(s)</th>
                                    <td>
                                        {% for severity_pyramid_rung in signalset.severity_pyramid_rungs.all %}
                                            <a href="{% url 'signal_sets' %}?severity_pyramid_rung={{ severity_pyramid_rung.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ severity_pyramid_rung }}
                                                </span>
                                            </a>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% if signalset.censoring %}
                                <tr>
                                    <th scope="row">Censoring</th>
                                    <td>{{ signalset.censoring }}</td>
                                </tr>
                                {% endif %}
                                {% if signalset.missingness %}
                                <tr>
                                    <th scope="row">Missingness</th>
                                    <td>{{ signalset.missingness }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">DUA required (yes/no) </th>
                                    <td>{{ signalset.dua_required }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">License </th>
                                    <td>{{ signalset.license }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dataset Location</th>
                                    <td>{{ signalset.dataset_location }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Link to data dictionary</th>
                                    <td>{{ signalset.link_to_documentation }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if signalset.signals.all|length > 0%}
        <h5>Related signals</h5>
        <section>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive" data-fl-scrolls='{"orientation": "horizontal"}'>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Active</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Pathogen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for signal in signalset.signals.all %}
                                    <tr>
                                        <td class="clickable-table-cell"
                                            onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                            {% if signal.member_name %}
                                                {{ signal.member_name }}
                                            {% else %}
                                                {{ signal.name }}
                                            {% endif %}
                                        </td>
                                        <td class="clickable-table-cell"
                                            onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                            {% if signal.active == True%}
                                            <i class="fas fa-circle" style="color:green;"></i>
                                            {% else %}
                                            <i class="fas fa-circle" style="color:red;"></i>
                                            {% endif %}
                                        </td>
                                        <td class="clickable-table-cell"
                                            onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                            {{ signal.member_description }}
                                        </td>
                                        <td class="clickable-table-cell"
                                            onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                            {% for pathogen in signal.pathogen.all %}
                                                {{ pathogen }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h5>Plot / Export data</h5>
        <section class="section">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <form class="margin-top-1rem" onsubmit="submitMode(event)" id="dataForm">
                            <div class="row">
                                <div class="col-2">
                                    <label class="form-label"
                                        >Select mode:</label
                                    >
                                </div>
                                <div class="col-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="modes" id="preview" value="preview" checked>
                                        <label class="form-check-label" for="preview">Preview data</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="modes" id="epivis" value="epivis">
                                        <label class="form-check-label" for="epivis">Plot data</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="modes" id="export" value="export">
                                        <label class="form-check-label" for="export">Export data</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-1rem">
                                <div class="col-2">
                                    <label for="signal" class="form-label"
                                        >Data Signal:</label
                                    >
                                </div>
                                <div class="col-10">
                                    <select id="signal" name="signal" class="form-select">
                                        {% for signal in signalset.signals.all %}
                                            <option>{{ signal.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row margin-top-1rem">
                                <div class="col-2">
                                    <label for="geographic_type" class="form-label"
                                        >Geographic Type:</label
                                    >
                                </div>
                                <div class="col-10">
                                    <select id="geographic_type" name="geographic_type" class="form-select">
                                        <option selected>Choose...</option>
                                        {% for geography in available_geographies %}
                                        <option value="{{ geography.name }}">{{ geography }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row margin-top-1rem">
                                <div class="col-2">
                                    <label for="geographic_value" class="col-form-label">Geographic Value:</label>
                                </div>
                                <div class="col-10">
                                    <select id="geographic_value" name="geographic_value" class="form-select" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="row margin-top-1rem" name="choose_date">
                                <div class="col-2">
                                    <label for="start_date" class="form-label">
                                        Start Date:
                                    </label>
                                </div>
                                <div class="col-10">
                                    <input type="date" class="form-control" id="start_date" name="start_date">
                                </div>
                            </div>
                            <div class="row margin-top-1rem" name="choose_date">
                                <div class="col-2">
                                    <label for="end_date" class="form-label">
                                        End Date:
                                    </label>
                                </div>
                                <div class="col-10">
                                    <input type="date" class="form-control" id="end_date" name="end_date">
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" value="Submit" class="btn btn-primary margin-top-1rem">
                                    Submit
                                </button>
                            </div>
                            <div class="row margin-top-1rem">
                                <pre class="margin-top-1rem"><code id="modeSubmitResult"></code></pre>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <script>
        
        if (!library)
            var library = {};

        library.json = {
            replacer: function (match, pIndent, pKey, pVal, pEnd) {
                var key = '<span class=json-key>';
                var val = '<span class=json-value>';
                var str = '<span class=json-string>';
                var r = pIndent || '';
                if (pKey)
                    r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
                if (pVal)
                    r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
                return r + (pEnd || '');
            },
            prettyPrint: function (obj) {
                var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
                return JSON.stringify(obj, null, 3)
                    .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
                    .replace(/</g, '&lt;').replace(/>/g, '&gt;')
                    .replace(jsonLine, library.json.replacer);
            }
        };

        function readMore(button) {
            var truncatedText = document.querySelector(".overview");
            var fullText = document.querySelector(".full-text");

            if (truncatedText.style.display === "none") {
                truncatedText.style.display = "block";
                fullText.style.display = "none";
                button.innerHTML = 'Read more <i class="bi bi-arrow-bar-down"></i>';
            } else {
                truncatedText.style.display = "none";
                fullText.style.display = "block";
                button.innerHTML = 'Read less <i class="bi bi-arrow-bar-up"></i>';
            }
        }

        var geoValues = [];
    var currentMode = 'preview';

    function getFilteredGeographicValues(geographicType) {
        var data = geoValues.reduce((data, geoValue) => {
            if (geoValue.geoType === geographicType) {
                data.push(geoValue);
            }
            return data;
        }, []);
        return data;
    }

    function initGeographicValueSelect(mode, geographicType = null) {
        var maximumSelectionLength = 1;
        if (mode === 'epivis') {
            maximumSelectionLength = 1;
        } else {
            maximumSelectionLength = 10;
        }
        if (geographicType) {
            var data = getFilteredGeographicValues(geographicType);
        } else {
            data = [];
        }


        $('#geographic_value').select2({
            data: data,
            minimumInputLength: 0,
            maximumSelectionLength: maximumSelectionLength,
        });
    }

    document.getElementById('geographic_type').addEventListener("change", (event) => {
        $('#geographic_value').empty();
        $('#modeSubmitResult').html('');
        initGeographicValueSelect(currentMode, event.target.value);
    })

    function handleModeChange(mode) {
        document.getElementById("dataForm").reset();
        $('#geographic_value').empty();
        $('#modeSubmitResult').html('');

        var choose_dates = document.getElementsByName('choose_date');
        //var time_type = document.getElementById('timeTypeDiv');

        if (mode === 'epivis') {
            currentMode = 'epivis';
            choose_dates.forEach((el) => {
                el.style.display = 'none';
            });
            $('#modeSubmitResult').html('');
            //time_type.style.display = 'none';
        } else if (mode === 'export') {
            currentMode = 'export';
            choose_dates.forEach((el) => {
                el.style.display = 'flex';
            });
            $('#modeSubmitResult').html('');
            //time_type.style.display = 'none';
        } else {
            currentMode = 'preview';
            choose_dates.forEach((el) => {
                el.style.display = 'flex';
            });
            //time_type.style.display = 'flex';
        }
        document.getElementsByName("modes").forEach((el) => {
            if (currentMode === el.value) {
                el.checked = true;
            }
        });
    }

    document.getElementsByName('modes').forEach((el) => {
        el.addEventListener('change', (event) => {
            currentMode = event.target.value;
            initGeographicValueSelect(currentMode)
            handleModeChange(currentMode);
        });
    });


    $(document).ready(function () {
        {% for geography in available_geographies %}
            {% for unit in geography.geography_units.all %}
                geoValues.push({'id': '{{ unit.geo_id }}', 'geoType': '{{ unit.geography.name }}', 'text': '{{ unit.display_name }}'});
            {% endfor %}
        {% endfor %}

        $('#geographic_value').select2({
            data: [],
            minimumInputLength: 0,
            maximumSelectionLength: 1,
        });
    });

    $("#warning-alert").hide();

    function showWarningAlert(warningMessage) {
        $("#warning-alert").html(warningMessage);
        $("#warning-alert").fadeTo(2000, 500).slideUp(1000, function() {
            $("#warning-alert").slideUp(1000);
        });
    }

    function getDateYearWeek(date) {
        const currentDate =
            (typeof date === 'object') ? date : new Date();
        const januaryFirst =
            new Date(currentDate.getFullYear(), 0, 1);
        const daysToNextMonday =
            (januaryFirst.getDay() === 1) ? 0 :
            (7 - januaryFirst.getDay()) % 7;
        const nextMonday =
            new Date(currentDate.getFullYear(), 0,
            januaryFirst.getDate() + daysToNextMonday);

        var weekNumber = (currentDate < nextMonday) ? 52 :
        (currentDate > nextMonday ? Math.ceil(
        (currentDate - nextMonday) / (24 * 3600 * 1000) / 7) : 1);

        if (weekNumber < 10) {
            weekNumber = `0${weekNumber}`;
        }

        const year = currentDate.getFullYear()

        return `${year}${weekNumber}`;
    }

    function submitMode(event) {
        event.preventDefault();

        const dataSource = "{{ data_source }}";
        const timeType = "{{ time_type }}";
        var dataSignal = document.getElementById('signal').value;
        var geographicType = document.getElementById('geographic_type').value;
        {% comment %} var timeType = "{{ signal.time_type }}"; {% endcomment %}
        // geographicValue is a comma separated string of geographic values. type can be string or integer
        // in case of string, it should be converted to lowercase
        // else it will be treated as integer
        var geographicValue = $('#geographic_value').select2('data').map((el) => (typeof el.id === 'string') ? el.id.toLowerCase() : el.id).join(',');

        if (geographicType === 'Choose...' || geographicValue === '') {
            showWarningAlert("Geographic Type or Geographic Value is not selected.");
            return;
        }

        if (currentMode === 'epivis') {
            var epiVisUrl = "{{ epivis_url }}";
            var urlParamsEncoded = btoa(`{"datasets":[{"color":"#415742","title":"value","params":{"_endpoint":"covidcast","data_source":"${dataSource}","signal":"${dataSignal}","time_type":"${timeType}","geo_type":"${geographicType}","geo_value":"${geographicValue}"}}]}`);

            epiVisUrl += `#${urlParamsEncoded}`;
            window.open(epiVisUrl, '_blank').focus();
        } else if (currentMode === 'export') {
            var startDate = document.getElementById('start_date').value;
            var endDate = document.getElementById('end_date').value;

            if (timeType === "week") {
                startDate = getDateYearWeek(new Date(startDate));
                endDate = getDateYearWeek(new Date(endDate));
            };

            var dataExportUrl = "{{ data_export_url }}";

            if (startDate === '' || endDate === '') {
                showWarningAlert("Start Date or End Date is not selected.")
                return;
            }

            dataExportUrl += `?signal=${dataSource}:${dataSignal}&start_day=${startDate}&end_day=${endDate}&geo_type=${geographicType}&geo_values=${geographicValue}`;
            $('#modeSubmitResult').html(`Manually fetch data: \n\nwget --content-disposition "${dataExportUrl}"`);
            window.open(dataExportUrl, '_blank').focus();
        } else {
            //var timeType = document.getElementById('time_type').value;

            var startDate = document.getElementById('start_date').value;
            var endDate = document.getElementById('end_date').value;

            if (timeType === "week") {
                startDate = getDateYearWeek(new Date(startDate));
                endDate = getDateYearWeek(new Date(endDate));
            };

            var requestSent = false;

            if (!requestSent) {
                $.ajax({
                    url: '{{ covidcast_url }}',
                    type: 'GET',
                    data: {
                        'time_type': timeType,
                        'time_values': `${startDate}--${endDate}`,
                        'data_source': dataSource,
                        'signal': dataSignal,
                        'geo_type': geographicType,
                        'geo_values': geographicValue
                    },
                    success: function (result) {
                        // Update the page with the response data.
                        // This depends on the structure of your response data.
                        // For example, if the response data is a string:
                        if (result["epidata"].length > 1) {
                            result = { epidata: result["epidata"].slice(0, 3), result: result["result"], message: result["message"] }
                        } else {
                            result = { epidata: result["epidata"], result: result["result"], message: result["message"] }
                        }
                        console.log('Request sent to: ' + this.url);
                        $('#modeSubmitResult').html(library.json.prettyPrint(result));
                    }
                });
                requestSent = true;
            };
        }
    }
    </script>
</main>

{% endblock %}
