{% extends 'index.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Signal Sets {% endblock %} 

{% block content %}

<div class="row">
    <div class="col-2">
        <form method="GET" id="filterSignalSetsForm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location Search: <span class="badge rounded-pill badge-primary">Coming soon</span></h5>
                    <div class="input-group">
                        <select id="location_search" name="location_search" class="form-select" multiple="multiple"></select>
                    </div>
                    <h5 class="card-title">Filters</h5>
                    <div class="accordion accordion-flush" id="accordionSignalSetFilters">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.pathogens.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.pathogens.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.pathogens.auto_id }}">
                                    Pathogens/Syndromes
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Pathogen, syndrome, or disease area for which the signal set applies."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.pathogens.auto_id }}"
                                class="accordion-collapse {% if form.pathogens.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.pathogens.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.pathogens|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.geographic_scope.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.geographic_scope.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.geographic_scope.auto_id }}">
                                    Geographic Scope
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Country for which signal set is available."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.geographic_scope.auto_id }}"
                                class="accordion-collapse {% if form.geographic_scope.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.geographic_scope.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.geographic_scope|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.available_geographies.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.available_geographies.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.available_geographies.auto_id }}">
                                    Geographic Granularity
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Spatial resolution of the signal set (e.g., county, hospital referral region, metropolitan statistical area, designated market area, state)."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.available_geographies.auto_id }}"
                                class="accordion-collapse {% if form.available_geographies.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.available_geographies.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.available_geographies|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.temporal_granularity.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.temporal_granularity.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.temporal_granularity.auto_id }}">
                                    Temporal Granularity
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Units of time available for a given signal set, e.g., day and week."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.temporal_granularity.auto_id }}"
                                class="accordion-collapse {% if form.temporal_granularity.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.temporal_granularity.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    {{ form.temporal_granularity|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.severity_pyramid_rungs.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}">
                                    Severity Pyramid
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="One or more rungs to which this signal set best relates. See https://delphi.cmu.edu/epidemic-signals/."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}"
                                class="accordion-collapse {% if form.severity_pyramid_rungs.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.severity_pyramid_rungs.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.severity_pyramid_rungs|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.data_source.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.data_source.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.data_source.auto_id }}">
                                    Data Source
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="The owner or supplier of the raw data."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.data_source.auto_id }}"
                                class="accordion-collapse {% if form.data_source.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.data_source.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.data_source|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="input-group margin-top-1rem">
                            {{ form.temporal_scope_end|as_crispy_field }}
                        </div>
                    </div> 
                    <div class="card-body">
                        <div class="d-grid gap-2 mt-3">
                            <button id="filter-submit" type="submit" class="btn btn-primary">{% trans 'Apply Filters' %}</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-10">
        <div class="row table-responsive">
            <table id="signalSetsTable" class="display cell-border" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Pathogen(s)/<br>Syndrome(s)</th>
                        <th>Geographic Scope</th>
                        <th>Geographic Granularity</th>
                        <th>Temporal scope Start</th>
                        <th>Temporal Scope End</th>
                        <th>Temporal Granularity</th>
                        <th>Reporting Cadence</th>
                        <th>Reporting Lag(nominal)</th>
                        <th>Revision Cadence</th>
                        <th>Demographic scope</th>
                        <th>Demographic Granularity</th>                              
                        <th>Severity Pyramid Rung(s)</th>
                        <th>Data Source</th>
                        <th class="min-w-300">Pre-processing</th>
                        <th class="min-w-300">Censoring</th>
                        <th class="min-w-300">Missingness</th>
                        <th>DUA required</th>
                        <th>License</th>
                        <th>Documentation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for signal_set in signal_sets %}
                    <tr data-id="{{ signal_set.id }}">
                        <td class="dt-control"></td>
                        <td>
                            <a data-mdb-tooltip-init title="{{ signal_set.description }}">{{ signal_set.name }}</a>
                        </td>
                        <td>
                            {% for pathogen in signal_set.pathogens.all %}
                            <span class="badge rounded-pill bg-dark">
                                {{ pathogen }}
                            </span>
                            {% endfor %}
                        </td>
                        <td>
                            {{ signal_set.geographic_scope }}
                        </td>
                        <td >
                            {{ signal_set.get_available_geographies }}
                        </td>
                        <td >
                            {{ signal_set.temporal_scope_start }}
                        </td>
                        <td >
                            {{ signal_set.temporal_scope_end }}
                        </td>
                        <td >
                            {{ signal_set.temporal_granularity }}
                        </td>
                        <td>
                            {{ signal_set.reporting_cadence }}
                        </td>
                        <td>
                            {{ signal_set.reporting_lag }}
                        </td>
                        <td>
                            {{ signal_set.revision_cadence }}
                        </td>
                        <td>
                            {{ signal_set.demographic_scope }}
                        </td>
                        <td>
                            {{ signal_set.demographic_granularity }}
                        </td>
                        <td >
                            {% for severity_pyramid_rung in signal_set.severity_pyramid_rungs.all %}
                            <span class="badge rounded-pill bg-dark">
                                {{ severity_pyramid_rung }}
                            </span>
                            {% endfor %}
                        </td>
                        <td >
                            {{ signal_set.data_source }}
                        </td>
                        <td>
                            {{ signal_set.preprocessing_description }}
                        </td>
                        <td>
                            {{ signal_set.censoring }}
                        </td>
                        <td>
                            {{ signal_set.missingness }}
                        </td>
                        <td>
                            {{ signal_set.dua_required }}
                        </td>
                        <td>
                            {{ signal_set.license }}
                        </td>
                        <td>
                            <a href="{{ signal_set.link_to_documentation }}" target="_blank" >{{ signal_set.link_to_documentation }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <!-- Button trigger modal -->
    <div class="float" id="showSelectedSignalsButton" style="display:none;">
        <a type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#selectedSignalsModal">
            Show selected signals
        </a>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="selectedSignalsModal" tabindex="-1" aria-labelledby="selectedSignalsModalLabel">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="selectedSignalsModalLabel">Selected signals</h5>
            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Signal Set name</th>
                        <th scope="col">Signal name</th>
                      </tr>
                    </thead>
                    <tbody id="selectedSignalsList"></tbody>
                  </table>
                  
            </div>
            <div class="modal-footer">
                <form class="margin-top-1rem full-width" id="dataForm" onsubmit="submitMode(event)">
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">
                                Select Mode:
                            </label>
                        </div>
                        <div class="col-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="modes" id="preview" value="preview" checked>
                                <label class="form-check-label" for="preview">Preview data</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="modes" id="epivis" value="epivis">
                                <label class="form-check-label" for="epivis">Plot data</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="modes" id="export" value="export">
                                <label class="form-check-label" for="export">Export data</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-1rem">
                        <div class="col-2">
                            <label for="geographic_type" class="form-label"
                                >Geographic Type:</label
                            >
                        </div>
                        <div class="col-10">
                            <select id="geographic_type" name="geographic_type" class="form-select">
                                <option selected>Choose...</option>
                                {% for geography in available_geographies %}
                                <option value="{{ geography.name }}">{{ geography }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row margin-top-1rem">
                        <div class="col-2">
                            <label for="geographic_value" class="col-form-label">Geographic Value:</label>
                        </div>
                        <div class="col-10">
                            <select id="geographic_value" name="geographic_value" class="form-select" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="row margin-top-1rem" name="choose_date">
                        <div class="col-2">
                            <label for="start_date" class="form-label">
                                Start Date:
                            </label>
                        </div>
                        <div class="col-10">
                            <input type="date" class="form-control" id="start_date" name="start_date" value="2016-01-01">
                        </div>
                    </div>
                    <div class="row margin-top-1rem" name="choose_date">
                        <div class="col-2">
                            <label for="end_date" class="form-label">
                                End Date:
                            </label>
                        </div>
                        <div class="col-10">
                            <input type="date" class="form-control" id="end_date" name="end_date" value="2029-01-01">
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" id="processSelectedSignals" value="Submit" class="btn btn-primary margin-top-1rem" data-mdb-ripple-init>
                            Submit
                        </button>
                    </div>
                    <div class="row margin-top-1rem">
                        <pre class="margin-top-1rem"><code id="modeSubmitResult"></code></pre>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<script src="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/cr-2.0.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sp-2.3.3/sl-2.1.0/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js),datatables.mark.js"></script>

<script src="{% static 'js/signal_sets.js' %}"></script>
<script>
    localStorage.setItem("epivis_url", "{{ epivis_url }}");
    localStorage.setItem("data_export_url", "{{ data_export_url }}");
    localStorage.setItem("covidcast_url", "{{ covidcast_url }}");


    const geoValues = {{ geographic_granularities|safe }};

    var relatedSignals = JSON.parse(JSON.stringify({{ related_signals|safe }}));

    $(document).ready(function () {

        const locationSearchValues = geoValues.map(item => {
            return {
                ...item,
                "id": `${item.geoType}:${item.id}`
            }
        })
        initSelect2('location_search', locationSearchValues);
        table.columns.adjust()
    })

    // Add event listener for opening and closing details
    $('#signalSetsTable tbody').on('click', 'td.dt-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
    
        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
        }
        else {
            // Open this row
            row.child(format(tr.data('id'), relatedSignals)).show();
        }
        
    });


    // Add event listener for filtering. 
    window.addEventListener('beforeunload', () => {
        document.getElementById('filterSignalSetsForm').reset();
    });

    document.getElementsByName('modes').forEach((el) => {
        el.addEventListener('change', (event) => {
            currentMode = event.target.value;
            handleModeChange(currentMode);
        });
    });

    
</script>
{% endblock %}
