{% extends 'index.html' %}
{% load i18n %}

{% block title %} {{ signalset.name }} {% endblock %}


{% block content %}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ signalset.name }}
                        <span class="badge rounded-pill text-bg-primary">{{ signalset.data_source }}</span>
                    </h5>
                    <hr class="no-margin" />
                    <div class="row">
                        <div class="col-9">
                            <p class="margin-top-1rem margin-bottom-0 overview" id="overview">
                                {{ signalset.data_description|safe|truncatechars:300 }}
                            </p>
                            <p class="margin-top-1rem margin-bottom-0 full-text" id="full-text">
                                {{ signalset.data_description|safe }}
                            </p>
                            {% if signalset.data_description|length > 300 %}
                            <a href="#" onclick="readMore(this);">Read more <i class="bi bi-arrow-bar-down"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-3 border-left">
                            <p class="margin-top-1rem margin-bottom-0">
                                Maintainer:
                            </p>
                            <h5>{{ signalset.maintainer_name }} <br> ({{ signalset.maintainer_email }})</h5>
                            <p class="margin-bottom-0">Data Provided By:</p>
                            <h5>{{ signalset.data_source }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h5>About this Signal Set </h5>
    <section class="section signal">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row margin-top-1rem">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Source</th>
                                    <td>{{ signalset.data_source }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Signal Set Name</th>
                                    <td>{{ signalset.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Maintainer</th>
                                    <td>{{ signalset.maintainer_name }} ({{ signalset.maintainer_email }})</td>
                                </tr>
                                {% if signalset.organization %}
                                <tr>
                                    <th scope="row">Organization</th>
                                    <td>{{ signalset.organization }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Language</th>
                                    <td>{{ signalset.language }}</td>
                                </tr>
                                {% if signalset.version_number %}
                                <tr>
                                    <th scope="row">Signal Set Name</th>
                                    <td>{{ signalset.name }}</td>
                                </tr>
                                {% endif %}
                                {% if signalset.origin_datasource != 'n/a' %}
                                <tr>
                                    <th scope="row">Source dataset from which data was derived (for aggregates or processed data) </th>
                                    <td>{{ signalset.origin_datasource }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Disease(s)/Pathogen(s)/Syndrome(s)</th>
                                    <td>
                                        <ul class="no-padding">
                                            {% for pathogen in signalset.pathogens.all %}
                                            <a href="{% url 'signals' %}?pathogens={{ pathogen.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ pathogen|title }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Type(s) of data*</th>
                                    <td>{{ signalset.data_type }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Geographic Scope*</th>
                                    <td>{{ signalset.geographic_scope }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Geographic Granularity - Delphi</th>
                                    <td>
                                        <ul class="no-padding">
                                            {% for geography in signalset.available_geographies.all %}
                                            <a href="{% url 'signals' %}?available_geography={{ pathogen.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ geography }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Geographic Granularity*</th>
                                    <td>{{ signalset.geographic_granularity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Description of pre-processing (if any)</th>
                                    <td>{{ signalset.preprocessing_description }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal scope start</th>
                                    <td>{{ signalset.temporal_scope_start }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal scope end</th>
                                    <td>{{ signalset.temporal_scope_end }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal Granularity</th>
                                    <td>{{ signalset.temporal_granularity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reporting Cadence</th>
                                    <td>{{ signalset.reporting_cadence }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reporting Lag (nominal)</th>
                                    <td>{{ signalset.reporting_lag }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Revision Cadence</th>
                                    <td>{{ signalset.revision_cadence }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Demographic Scope*</th>
                                    <td>{{ signalset.demographic_scope }}</td>
                                </tr>
                                {% if signalset.demographic_granularity %}
                                <tr>
                                    <th scope="row">Demographic Granularity*</th>
                                    <td>{{ signalset.demographic_granularity }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Severity Pyramid Rung(s)</th>
                                    <td>
                                        {% for severity_pyramid_rung in signalset.severity_pyramid_rungs.all %}
                                            <a href="{% url 'signals' %}?severity_pyramid_rung={{ pathogen.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ severity_pyramid_rung }}
                                                </span>
                                            </a>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% if signalset.censoring %}
                                <tr>
                                    <th scope="row">Censoring</th>
                                    <td>{{ signalset.censoring }}</td>
                                </tr>
                                {% endif %}
                                {% if signalset.missingness %}
                                <tr>
                                    <th scope="row">Missingness</th>
                                    <td>{{ signalset.missingness }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">DUA required (yes/no) </th>
                                    <td>{{ signalset.dua_required }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">License </th>
                                    <td>{{ signalset.license }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dataset Location</th>
                                    <td>{{ signalset.dataset_location }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Link to data dictionary</th>
                                    <td>{{ signalset.link_to_dictionary }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Related signals</th>
                                    <td>
                                        {% for signal in signalset.signals.all %}
                                        <a href="{% url 'signal' pk=signal.id %}" target="_blank">
                                            <span class="badge rounded-pill bg-dark">
                                                {{ signal.name }}
                                            </span>
                                        </a>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        if (!library)
            var library = {};

        library.json = {
            replacer: function (match, pIndent, pKey, pVal, pEnd) {
                var key = '<span class=json-key>';
                var val = '<span class=json-value>';
                var str = '<span class=json-string>';
                var r = pIndent || '';
                if (pKey)
                    r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
                if (pVal)
                    r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
                return r + (pEnd || '');
            },
            prettyPrint: function (obj) {
                var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
                return JSON.stringify(obj, null, 3)
                    .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
                    .replace(/</g, '&lt;').replace(/>/g, '&gt;')
                    .replace(jsonLine, library.json.replacer);
            }
        };

        function readMore(button) {
            var truncatedText = document.querySelector(".overview");
            var fullText = document.querySelector(".full-text");

            if (truncatedText.style.display === "none") {
                truncatedText.style.display = "block";
                fullText.style.display = "none";
                button.innerHTML = 'Read more <i class="bi bi-arrow-bar-down"></i>';
            } else {
                truncatedText.style.display = "none";
                fullText.style.display = "block";
                button.innerHTML = 'Read less <i class="bi bi-arrow-bar-up"></i>';
            }
        }
    </script>
</main>

{% endblock %}
