{% extends 'index.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Indicator Sets {% endblock %} 

{% block content %}

<div class="row">
    <div class="col-2">
        <form method="GET" id="filterSignalSetsForm">
            <div class="card">
                <div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">
                    <span id="totalRowsNumber"></span>
                    <div style="margin-top: 20px" class="colvis" id="colvis"></div>
                    <h2 class="card-title" style="font-size: 25px;">Filters</h2>
                    <div class="accordion accordion-flush" id="accordionSignalSetFilters">
                        <div class="accordion-item">
                            <p class="accordion-header" id="flush-heading_location_search">
                                Location(s):
                                <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="Enter one or more locations for which you are looking for indicator coverage, or leave empty for all locations.  Start entering a location name to see all compatible locations.  Auto-complete with [Tab] or [Enter].  Currently works only for U.S. locations."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                            </p>
                            <div id="flush-collapse_location_search"
                                aria-labelledby="flush-heading_location_search"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="input-group">
                                        <select id="location_search" name="location_search" class="form-select" multiple="multiple"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.pathogens.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.pathogens.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.pathogens.auto_id }}">
                                    Pathogens/Syndromes
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="List only indicators related to these pathogens, syndromes or diseases."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.pathogens.auto_id }}"
                                class="accordion-collapse {% if form.pathogens.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.pathogens.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.pathogens|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.geographic_scope.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.geographic_scope.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.geographic_scope.auto_id }}">
                                    Geographic Coverage
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="List only indicators that cover any of the selected countries or world regions."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.geographic_scope.auto_id }}"
                                class="accordion-collapse {% if form.geographic_scope.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.geographic_scope.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.geographic_scope|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.available_geographies.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.available_geographies.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.available_geographies.auto_id }}">
                                    Geographic Level
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="List only indicators that are available at any of the selected geographic levels."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.available_geographies.auto_id }}"
                                class="accordion-collapse {% if form.available_geographies.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.available_geographies.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.available_geographies|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.temporal_granularity.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.temporal_granularity.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.temporal_granularity.auto_id }}">
                                    Temporal Granularity
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="List only indicators that are available at any of the selected temporal levels."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.temporal_granularity.auto_id }}"
                                class="accordion-collapse {% if form.temporal_granularity.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.temporal_granularity.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    {{ form.temporal_granularity|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.severity_pyramid_rungs.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}">
                                    Surveillance Category
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="List only indicators that are directly related to any of the selected rungs."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.severity_pyramid_rungs.auto_id }}"
                                class="accordion-collapse {% if form.severity_pyramid_rungs.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.severity_pyramid_rungs.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.severity_pyramid_rungs|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_{{ form.data_source.auto_id }}">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapse_{{ form.data_source.auto_id }}" aria-expanded="false"
                                    aria-controls="flush-collapse_{{ form.data_source.auto_id }}">
                                    Original Data Provider
                                    <a
                                        tabindex="0"
                                        type="button"
                                        class="info-button filter-description-popover"
                                        data-mdb-container="body"
                                        data-mdb-ripple-init
                                        data-mdb-popover-init
                                        data-mdb-trigger="hover"
                                        data-mdb-placement="right"
                                        data-mdb-content="List only indicator that are based on data from one of the selected sources."
                                        >
                                        <i class="far fa-circle-question"></i>
                                    </a>
                                </button>
                            </h2>
                            <div id="flush-collapse_{{ form.data_source.auto_id }}"
                                class="accordion-collapse {% if form.data_source.value %} {% else %}collapse{% endif %}"
                                aria-labelledby="flush-heading_{{ form.data_source.auto_id }}"
                                data-mdb-parent="#accordionSignalSetFilters">
                                <div class="accordion-body margin-top-1rem">
                                    <div class="bulk-select form-check">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label class="form-check-label" for="select-all">Select all</label>
                                    </div>
                                    {{ form.data_source|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="input-group margin-top-1rem">
                            {{ form.temporal_scope_end|as_crispy_field }}
                            <a
                                tabindex="0"
                                style="margin-left: 10px;"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="List only indicators that are currently actively ingested."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </div>
                    </div> 
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="d-grid gap-2 mt-3">
                            <button id="filter-submit" type="submit" class="btn btn-primary">{% trans 'Apply Filters' %}</button>
                            <div style="margin-left: auto; margin-right: auto;">
                                <a href="{% url 'signal_sets' %}">Clear filters</a>
                            </div>
                        </div>
                        <hr>
                        <div class="d-grid gap-2 mt-3" style="font-size: 0.9rem">
                            <div>
                                <a href="https://forms.gle/WV4Ndhc3ftvkkgVCA">Report a Data Problem</a>
                            </div>
                            <div>
                                <a href="https://forms.gle/cMG7v7uUrnLVszRu5">Suggest a New Data Source</a>
                            </div>
                            <div>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLScqgT1fKZr5VWBfsaSp-DNaN03aV6EoZU4YljIzHJ1Wl_zmtg/viewform">Other Feedback or Suggestion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-10">
        <div class="row table-responsive">
            <table id="signalSetsTable" class="display cell-border" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="Hover over the indicator's name to see a brief description."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Pathogen(s)/<br>Syndrome(s)</th>
                        <th>Geographic Coverage
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="The countries or world regions covered by this indicator.  These are typically covered at finer geographic levels / jurisdictions."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th class="min-w-300">Geographic Levels
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="All the geographic levels at which this indicator is available.  Larger jurisdictions are often based on aggregation of data from constituent jurisdictions."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th class="min-w-120">Temporal Scope Start
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="The earliest date for which this indicator is available."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th class="min-w-120">Temporal Scope End
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="The latest date for which this indicator is available."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Temporal Granularity
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="The temporal resolution of this indicator (not of the reporting).  Might not be the same as Reporting Cadence (e.g. a daily indicator may be reported only once a week)."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Reporting Cadence
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="Frequency of reporting.  Might not be the same as Temporal Granularity (e.g. a daily indicator may be reported only once a week)."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Reporting Lag(nominal)
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="The number of days from the last day of a reported period until the first reported value for that period is usually available in Delphi Epidata.  E.g. if reporting U.S. epiweeks (Sunday through Saturday), and the first report is usually available in Delphi Epidata on the following Friday, The Reporting Lag is 6.
                                                    By ""usually available"" we mean when it's ""supposed to be"" available based on our current understanding of the data provider's operations and Delphi's ingestion pipeline.  That is the date on which we think of the data as showing up ""on time"", and relative to which we track unusual delays."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Revision Cadence
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content='How frequently are revised values (e.g. "backfill") usually reported (if any)?'
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Population
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content='The population or demographic group reflected by the indicator ("All" means the entire population)'
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Population Stratifiers
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="What population or demographic stratifiers are available, if any?"
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>                              
                        <th>Surveillance Categories
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="Which surveillance categories or rungs in the Severity Pyramid does this indicator attempt to track?  Some indicators may approximately track multiple categories."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Original Data Provider
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="The owner or supplier of the original or raw data used to create this indicator."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th class="min-w-300">Pre-processing
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="Brief description of main data processing used in creating this set of indicators, including smoothing and aggregation.  For more details, see the documentation."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th class="min-w-300">Censoring
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="Is any of the data being censored (e.g. small counts)?  If so how, and how much impact does it have (e.g. approximate fraction of values affected)."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th class="min-w-300">Missingness
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content=""
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>DUA required?</th>
                        <th>Data Use Terms
                            <a
                                tabindex="0"
                                type="button"
                                class="info-button filter-description-popover"
                                data-mdb-container="body"
                                data-mdb-ripple-init
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-placement="right"
                                data-mdb-content="Applicable data use terms (may apply even to publicly accessible indicators)."
                                >
                                <i class="far fa-circle-question"></i>
                            </a>
                        </th>
                        <th>Documentation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for signal_set in signal_sets %}
                    <tr data-id="{{ signal_set.id }}" data-description="{{ signal_set.description }}">
                        <td class="dt-control"></td>
                        <td>
                            <a data-mdb-tooltip-init title="{{ signal_set.description }}">{{ signal_set.name }}</a>
                        </td>
                        <td>
                            {% for pathogen in signal_set.pathogens.all %}
                            <span class="badge rounded-pill bg-dark">
                                {{ pathogen }}
                            </span>
                            {% endfor %}
                        </td>
                        <td>
                            {{ signal_set.geographic_scope }}
                        </td>
                        <td >
                            {% for available_geography in signal_set.get_available_geographies %}
                                <span class="badge rounded-pill bg-dark">
                                    {{ available_geography }}
                                </span>
                            {% endfor %}
                        </td>
                        <td >
                            {{ signal_set.temporal_scope_start }}
                        </td>
                        <td >
                            {{ signal_set.temporal_scope_end }}
                        </td>
                        <td >
                            <span class="badge rounded-pill bg-dark">
                                {{ signal_set.temporal_granularity }}
                            </span>
                        </td>
                        <td>
                            {{ signal_set.reporting_cadence }}
                        </td>
                        <td>
                            {{ signal_set.reporting_lag }}
                        </td>
                        <td>
                            {{ signal_set.revision_cadence }}
                        </td>
                        <td>
                            {{ signal_set.demographic_scope }}
                        </td>
                        <td>
                            {{ signal_set.demographic_granularity }}
                        </td>
                        <td >
                            {% for severity_pyramid_rung in signal_set.severity_pyramid_rungs.all %}
                            <span class="badge rounded-pill bg-dark">
                                {{ severity_pyramid_rung }}
                            </span>
                            {% endfor %}
                        </td>
                        <td >
                            {{ signal_set.data_source }}
                        </td>
                        <td>
                            {{ signal_set.preprocessing_description }}
                        </td>
                        <td>
                            {{ signal_set.censoring }}
                        </td>
                        <td>
                            {{ signal_set.missingness }}
                        </td>
                        <td>
                            {{ signal_set.dua_required }}
                        </td>
                        <td>
                            {{ signal_set.license }}
                        </td>
                        <td>
                            <a href="{{ signal_set.link_to_documentation }}" target="_blank" >{{ signal_set.link_to_documentation }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <!-- Button trigger modal -->
    <div class="float" id="showSelectedSignalsButton" style="display:none;">
        <a type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#selectedSignalsModal">
            Show selected indicators
        </a>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="selectedSignalsModal" tabindex="-1" aria-labelledby="selectedSignalsModalLabel">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="selectedSignalsModalLabel">Selected indicators</h5>
            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Indicator Set name</th>
                        <th scope="col">Indicator name</th>
                      </tr>
                    </thead>
                    <tbody id="selectedSignalsList"></tbody>
                  </table>
                  
            </div>
            <div class="modal-footer">
                <form class="margin-top-1rem full-width" id="dataForm" onsubmit="submitMode(event)">
                    {% csrf_token %}
                    <div class="row">
                        <div id="warning-alert"></div>
                        <div class="col-2">
                            <label class="form-label">
                                Select Mode:
                            </label>
                        </div>
                        <div class="col-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="modes" id="epivis" value="epivis" checked>
                                <label class="form-check-label" for="epivis">Plot data</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="modes" id="export" value="export">
                                <label class="form-check-label" for="export">Export data</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="modes" id="preview" value="preview" >
                                <label class="form-check-label" for="preview">Preview Data</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-1rem">
                        <div class="col-2">
                            <label for="geographic_value" class="col-form-label">Location(s):</label>
                        </div>
                        <div class="col-10">
                            <select id="geographic_value" name="geographic_value" class="form-select" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="row margin-top-1rem" name="choose_date">
                        <div class="col-2">
                            <label for="start_date" class="form-label">
                                Start Date:
                            </label>
                        </div>
                        <div class="col-10">
                            <input type="date" class="form-control" id="start_date" name="start_date" value="2016-01-01">
                        </div>
                    </div>
                    <div class="row margin-top-1rem" name="choose_date">
                        <div class="col-2">
                            <label for="end_date" class="form-label">
                                End Date:
                            </label>
                        </div>
                        <div class="col-10">
                            <input type="date" class="form-control" id="end_date" name="end_date" value="2029-01-01">
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" id="processSelectedSignals" value="Submit" class="btn btn-primary margin-top-1rem" data-mdb-ripple-init>
                            Submit
                        </button>
                    </div>
                    <div id="loader" class="loader margin-top-1rem" style="display: none;"></div>
                    <div class="row margin-top-1rem">
                        <pre class="margin-top-1rem"><code id="modeSubmitResult"></code></pre>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<script src="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/cr-2.0.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sp-2.3.3/sl-2.1.0/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js),datatables.mark.js"></script>

<script>
    var epiVisUrl = "{{ epivis_url }}";
    var csrf_token = "{{ csrf_token }}";
</script>

<script src="{% static 'js/signal_sets.js' %}"></script>
<script>
    const geoValues = {{ geographic_granularities|safe }};

    var relatedSignals = JSON.parse(JSON.stringify({{ related_signals|safe }}));

    var urlParams = JSON.parse(JSON.stringify({{ url_params_dict|safe }}));

    const alertList = document.querySelectorAll('.alert')
    const alerts = [...alertList].map(element => new bootstrap.Alert(element))

    $(document).ready(function () {
        const locationSearchValues = geoValues.map(item => {
            return {
                ...item,
                "id": `${item.geoType}:${item.id}`
            }
        })
        initSelect2('location_search', locationSearchValues);
        initSelect2('geographic_value', geoValues);
        if (urlParams.location_search != "") {
            var locationSearch = urlParams.location_search; 
            $("#location_search").val(locationSearch).trigger("change");
            var locationIds = locationSearch.map((item) => item.split(":")[1]);
            $('#geographic_value').val(locationIds).trigger('change');
        }
        
        table.columns.adjust()

        $("#totalRowsNumber").text(`Showing ${table.page.info().recordsTotal} indicator ${pluralize(table.page.info().recordsTotal, 'set')} containing ${relatedSignals.length} individual ${pluralize(relatedSignals.length, 'indicator')}`)
    })

    // Add event listener for opening and closing details
    $('#signalSetsTable tbody').on('click', 'td.dt-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
    
        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
        }
        else {
            // Open this row
            row.child(format(tr.data('id'), relatedSignals, tr.data("description"))).show();
        }
        
    });


    // Added these two lines to disable bfcache (https://web.dev/articles/bfcache).
    window.addEventListener('pageshow', (event) => {
        if (event.persisted) {
          location.reload()
        }
      });

    document.getElementsByName('modes').forEach((el) => {
        el.addEventListener('change', (event) => {
            currentMode = event.target.value;
            handleModeChange(currentMode);
        });
    });

    
</script>
{% endblock %}
